# Problem 1: Multiples of 3 and 5

> If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
>
> Find the sum of all the multiples of 3 or 5 below 1000.

### Solution in R

In [1]:
LIM = 999

m3 = sum(seq(3, 999, 3))
m5 = sum(seq(5, 999, 5))
m15 = sum(seq(15, 999, 15))

ans = m3 + m5 - m15
print(ans)

[1] 233168